{% extends "layout.html" %}

{% block content %}

<h1>Director:</h1>

<div class="row">
    <div class="col-md-8">
        <section id="directorAddForm">
            <form action="." method="post" class="form-horizontal" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.name.label_tag }}
                    <div class="col-md-10">
                        {{ form.name }}
                    </div>
                </div>

                <div class="form-group">
                    {{ form.birthdate.label_tag }}
                    <div class="col-md-10">
                        {{ form.birthdate }}
                    </div>
                </div>

                <div class="form-group">
                    {{ form.nationality.label_tag }}
                    <div class="col-md-10">
                        {{ form.nationality }}
                    </div>
                </div>

                <div class="form-group">
                    {{ form.awards.label_tag }}
                    <div class="col-md-10">
                        {{ form.awards }}
                    </div>
                </div>

                <div class="form-group">
                    {{ form.image.label_tag }}
                    <div class="col-md-10">
                        {{ form.image }}
                    </div>
                </div>



                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Add"/>
                    </div>
                </div>
            </form>
        </section>
    </div>
</div>

{% endblock %}