{% extends "layout.html" %}

{% block head %}

    <link href="../static/css/signin.css" rel="stylesheet">

{% endblock %}


{% block content %}

  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

<form action="" method="POST">
    <h1 class="h3 mb-3 fw-normal mb-md-5 fs-1">Create account</h1>

    <div class="form-floating text-black">
      <input type="text" class="form-control" id="floatingInput" name="username" placeholder="Username" required>
      <label for="floatingInput">Username</label>
    </div>

    <div class="form-floating text-black">
      <input type="email" class="form-control" id="floatingEmail" name="email" placeholder="Email" required>
      <label for="floatingEmail">Email</label>
    </div>

    <div class="form-floating text-black">
      <input type="password" class="form-control" id="floatingPassword" name="password" placeholder="Password" required>
      <label for="floatingPassword">Password</label>
    </div>

    <br><br>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Register</button>

    <br><br>
    <h6><a href="{% url 'login' %}">Already have an account? Sign in</a></h6>
    <br><br>

  </form>

          </div>
        </div>
      </div>
    </div>
  </div>



{% endblock %}