{% extends "layout.html" %}

{% block content %}

<h1>Edit film:</h1>

<div class="row">
    <div class="col-md-8">
        <section id="actorAddForm">
            <form action="." method="post" class="form-horizontal" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.title.label_tag }}
                    <div class="col-md-10">
                        {{ form.title }}
                    </div>
                </div>

                <div class="form-group">
                    {{ form.director.label_tag }}
                    <div class="col-md-10">
                        {{ form.director }}
                    </div>
                </div>

                <div class="form-group">
                    {{ form.actors.label_tag }}
                    <div class="col-md-10">
                        {{ form.actors }}
                    </div>
                </div>

                <div class="form-group">
                    {{ form.studio.label_tag }}
                    <div class="col-md-10">
                        {{ form.studio }}
                    </div>
                </div>

                <div class="form-group">
                    {{ form.release_date.label_tag }}
                    <div class="col-md-10">
                        {{ form.release_date }}
                    </div>
                </div>

                <div class="form-group">
                    {{ form.awards.label_tag }}
                    <div class="col-md-10">
                        {{ form.awards }}
                    </div>
                </div>

                <div class="form-group">
                    {{ form.description.label_tag }}
                    <div class="col-md-10">
                        {{ form.description }}
                    </div>
                </div>

                <div class="form-group">
                    {{ form.image.label_tag }}
                    <div class="col-md-10">
                        {{ form.image }}
                    </div>
                </div>

                <div class="form-group">
                    {{ form.trailer.label_tag }}
                    <div class="col-md-10">
                        {{ form.trailer }}
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Edit"/>
                    </div>
                </div>
            </form>
        </section>
    </div>
</div>

{% endblock %}