
<!doctype html>
<html lang="en" >
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Django WebProject</title>

    {% load static %}
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/signin.css' %}" />

      {% block head %}
      {% endblock %}
  </head>

<body>
  <div class="header-container d-flex w-100 h-100 mx-auto flex-column">

    <nav class="navbar navbar-expand-md navbar-dark bg-dark justify-content-between">
      <a class="navbar-brand" href="{% url 'home' %}">KineScope</a>

          <div class="collapse navbar-collapse" id="navbarDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'films' %}">Top</a>
          </li>
        </ul>
      </div>

      <form class="form-inline">
        <button class="btn btn-outline-light my-2 my-sm-0" type="button" onclick="window.location.href='{% url 'login' %}'">Log in</button>
          <p>.</p>
        <button class="btn btn-light my-2 my-sm-0" type="button" onclick="window.location.href='{% url 'register' %}'">Register</button>
     </form>
    </nav>

    <main role="main" class="cover-container justify-content-center d-flex w-100 h-100 mx-auto flex-column">
        <div class="container body-content h-100">
            <p></p>
            {% block content %} {% endblock %}
        </div> <!-- /container -->
    </main>

    <footer class="sticky-bottom">
      <div>
        <section class="">
            <!-- Footer -->
          <footer class="text-center text-white" style="background-color: #343a40;">
                <!-- Grid container -->
            <div class="container p-4 pb-0">
                  <!-- Section: CTA -->
              <section class="">
                <p class="d-flex justify-content-center align-items-center">
                  <span class="me-3">Register for free: </span>
                    <button type="button" class="btn btn-outline-light btn-rounded" onclick="window.location.href='{% url 'register' %}'">
                        Sign up!
                    </button>

                </p>
              </section>
                  <!-- Section: CTA -->
            </div>
                <!-- Grid container -->

                <!-- Copyright -->
              <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                  © 2020 Copyright:
                <a class="text-white">KineScope</a>
              </div>
                <!-- Copyright -->
          </footer>
          <!-- Footer -->
        </section>
      </div>
    </footer>

    <!-- JQuery and Bootstrap core
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'scripts/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'scripts/popper.min.js' %}"></script>
    <script src="{% static 'scripts/bootstrap.min.js' %}"></script>
</div>
  </body>
</html>
