{% if user.is_authenticated %}
<form id="logoutForm" action="/logout" method="post" class="navbar-right">
    {% csrf_token %}
    <ul class="nav navbar-nav navbar-right">
        <li><span class="navbar-brand">Hello {{ user.username }}!</span></li>
        <li><button class="btn btn-outline-light my-2 my-sm-0" type="button" onclick="javascript:document.getElementById('logoutForm').submit()">Log out</button></li>
    </ul>

</form>

{% else %}

      <form class="form-inline">
        <button class="btn btn-outline-light my-2 my-sm-0" type="button" onclick="window.location.href='{% url 'login' %}'">Log in</button>
          <p>.</p>
        <button class="btn btn-light my-2 my-sm-0" type="button" onclick="window.location.href='{% url 'register' %}'">Register</button>
     </form>

{% endif %}
