{% extends "layout.html" %}

{% block head %}

    <link href="../static/css/signin.css" rel="stylesheet">

{% endblock %}


{% block content %}

<div class="form-signin w-100 m-auto">
  <form action="" method="POST">
    <h1 class="h3 mb-3 fw-normal mb-md-5 fs-1">Please sign in</h1>

    <div class="form-floating text-black">
      <input type="text" class="form-control" id="floatingInput" name="nick" placeholder="Nick" required>
      <label for="floatingInput">Nick</label>
    </div>

    <div class="form-floating text-black">
      <input type="password" class="form-control" id="floatingPassword" name="password" placeholder="Password" required>
      <label for="floatingPassword">Password</label>
    </div>

    <br><br>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>

    <br><br>
    <h6><a href="">Don't have an account? Create one</a></h6>
    <br><br>

  </form>
</div>

{% endblock %}
